workflows/ai-receptionist.json
{
  "name": "AI Receptionist (Lead Capture + Team Alert)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": { "responseMode": "lastNode" }
      },
      "id": "08c2d3e4-0001-4a00-8000-000000000001",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [0, 0],
      "webhookId": "REPLACE-WITH-YOUR-WEBHOOK-ID"
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {
          "systemMessage": "You are the friendly virtual receptionist for a fence installation company. Have a natural back-and-forth to collect, one or two at a time: name, phone, city/address, fence type, approximate length in feet, and timeline. Offer a free on-site estimate.\n\nYou MUST respond EVERY time with ONLY a single JSON object (no markdown fences, no extra text) with these keys: reply, lead_ready, name, phone, city, fence_type, length, timeline.\n- reply = your warm, short conversational message to the customer (this is what they read).\n- lead_ready = true ONLY on the one turn where you have BOTH a name AND a phone number and are confirming you'll pass their details to the team; otherwise false.\n- Fill in known fields; use an empty string for anything unknown.\nNever invent prices — say a specialist confirms pricing at the free on-site estimate."
        }
      },
      "id": "08c2d3e4-0001-4a00-8000-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [240, 0]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "08c2d3e4-0001-4a00-8000-000000000003",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [120, 240],
      "credentials": {
        "groqApi": { "id": "REPLACE-WITH-YOUR-CREDENTIAL-ID", "name": "Groq account" }
      }
    },
    {
      "parameters": {},
      "id": "08c2d3e4-0001-4a00-8000-000000000004",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [320, 240]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.output) || '';\nlet txt = String(raw).replace(/```json/gi, '').replace(/```/g, '').trim();\nlet d = {};\ntry { d = JSON.parse(txt); } catch (e) { d = { reply: txt, lead_ready: false }; }\nconst summary = [d.name, d.phone, d.city, d.fence_type, d.length, d.timeline].filter(Boolean).join(' | ');\nreturn [{ json: { reply: d.reply || txt, lead_ready: !!d.lead_ready, leadLine: 'New lead from AI receptionist - ' + summary } }];"
      },
      "id": "08c2d3e4-0001-4a00-8000-000000000005",
      "name": "Parse Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "cond-lead-ready",
              "leftValue": "={{ $json.lead_ready }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08c2d3e4-0001-4a00-8000-000000000006",
      "name": "Lead Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE-WITH-YOUR-WEBHOOK-URL",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{ $('Parse Lead').item.json.leadLine }}" }
          ]
        },
        "options": {}
      },
      "id": "08c2d3e4-0001-4a00-8000-000000000007",
      "name": "Post Lead to Team Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, -100]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { output: $('Parse Lead').item.json.reply } }];"
      },
      "id": "08c2d3e4-0001-4a00-8000-000000000008",
      "name": "Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Parse Lead", "type": "main", "index": 0 }]]
    },
    "Parse Lead": {
      "main": [[{ "node": "Lead Ready?", "type": "main", "index": 0 }]]
    },
    "Lead Ready?": {
      "main": [
        [{ "node": "Post Lead to Team Channel", "type": "main", "index": 0 }],
        [{ "node": "Reply", "type": "main", "index": 0 }]
      ]
    },
    "Post Lead to Team Channel": {
      "main": [[{ "node": "Reply", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
